<% include partials/header %>
<h1>Signup Form</h1>

<form method="POST" action="/register">
    <input type = "text" placeholder = "username" name="username">
    <input type = "password" placeholdeer= "password" name="password">
    <button>Submit</button>
</form>
<% include partials/footer %>